.metadata
.settings/
.loadpath
*.launch
.target
*.war
*.ear
bin/
tmp/
.buildpath
.externalToolBuilders/
.cproject
*~.nib
.gradle
local.yaml
.gwt
gwt-unitCache
*.swp
*.out
*.class
*.lock
*.DS_Store
/classes
/build
*target*
*/war/WEB-INF/classes
*/war/WEB-INF/deploy
*~
